<div class="container bg-dark text-white">
    <div class="row">
        <div class="col col-mr-auto">
            <div class="container">
                <div class="row">
                    <div class= "col-lg-2">
                        <div class="row">OpenScop</div>
                        <div class="row"><h4><%= @company.name %></h4></div>
                    </div>
                </div>
                <div class="row border-0">
                    <div class="container">
                        <div class="row border-bottom mb-4">
                            Capitalisation
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="row">
                                    <div class="col border-right border-bottom">
                                        <div class="row">Capital</div>
                                        <div class="row">Capital</div>
                                    </div>
                                    <div class="col border-left border-bottom">
                                        <div class="row">Assosié</div>
                                        <div class="row">Assosié</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col border-right border-top">
                                        <div class="row">Parts</div>
                                        <div class="row">Parts</div>
                                    </div>
                                    <div class="col border-left border-top">
                                        <div class="row">Valeur des parts</div>
                                        <div class="row"><%= @company.nominal_share_value%></div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>